Flask==3.0.3
numpy==1.23.5
pandas==2.2.2
scikit-learn==1.5.1
beautifulsoup4==4.12.3
requests==2.32.3
python-whois==0.9.4
python-dateutil==2.9.0.post0
dnspython==2.6.1
tldextract==5.1.2
googlesearch-python==1.2.4
urllib3==2.2.2
regex==2024.5.15
gunicorn==22.0.0
catboost==1.2.5
